
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <!-- font-awsome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- my style sheet -->
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body class="center-align container">
    <header>
      <h2>Image Search Abstraction Layer in Imgur Api</h2>
    </header>

    <main>     
      <section>
        <p class="flow-text">
          To use this app, you must specify a new url adress at the url inbox at the top of this page.
          <br/><br/>
          If you want to view some images content, add the '/search/' to the end of this adress and the term you want
          to withdraw from the database right afterwords. You can also specify the page you want to view by adding the offset
          term and set it to the page number you want to view. 
          For example, the adress <a href="https://imagesrc.glitch.me/search/puppies?offset=3">https://imagesrc.glitch.me/search/puppies?offset=3</a> will return results of puppies images that are
          displayed in page number 3 in the Api.
          <br/><br/>
          To view the latest 10 searches in this app, simply add /latest to the url adress above. The complete url adress will 
          then look like <a href="https://imagesrc.glitch.me/latest">https://imagesrc.glitch.me/latest</a>.
        </p>
      </section>
    </main>

    <footer class="flow-text">
      <p>A simple app created by RaphaelS</p>
      <a href="https://github.com/RaphaelSh/image-search-abstruct-layer"> See on github <i class="fa fa-github" aria-hidden="true"></i></a>     
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
