/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

p.flow-text {
  font-size:1.5em; 
  text-align:justify;
}
header{
  border-bottom: 1px solid #777;
  box-shadow: 0 1px 0 0 #777 ;
}